<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign in</title>
  </head>
  <body>
    <h1>Sign In</h1>
    <form  action="/signin" method="post">
      Email: <input type="email" name="email" id="email"  value="" required><p>
      Password: <input type="password" name="password" id="password" value="" required><p>
        <label><input type="checkbox" name="" id="rememberme" value="" required>Remenber Me</label><br>
      <input type="submit"  value="Signin">
    </form>
  </body>
  <script src="/js/jquery.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    <% if(email) { %>
      $('#rememberme').prop("checked", true);
      $('#email').val('<%=email%>');
      $('#password').focurs();
    <%}%>
  </script>
</html>
